
img {
    height: 200px;
    width: 50%;
   
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    background: white;
    align-content: center;
}

.navbar .navbar-collapse {
    text-align: center;
    background: white
}
.jumbotron-fluid, .about-me {
    background: white;
}
.nav-link {
    align-content: center
}
body {
    font-family: "Abel", sans-serif;
  }
  
  footer {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  
  /* Unordered list in jumbotron */
  
  ul {
    list-style: none;
    white-space: nowrap;
  }
  
  ul li {
    display: inline;
  }
  
  /* light gray color */
  
  .primary-color {
    background-color: whitesmoke;
  }
  
  /* Jumbotron */
  
  .jumbotron {
    border-radius: 0;
    background-color: whitesmoke;
  }
  
  .display-3 {
    font-family: "Anton", sans-serif;
  }
  
  .jumbotron img {
    border-style: solid;
    border-width: 0;
    border-color: whitesmoke;
    width: 100%;
    min-width: 116px;
    height: auto;
  }
  
  .jumbotron a {
    color: black;
  }
  
  /* Icons */
  
  .fas,
  .fab {
    padding-right: 1rem;
  }
  
  /* grid adjustments  */
  
  .container {
    padding: 0;
  }
  
  .row {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .height-adjust {
    height: 90%;
  }
  
  .outer-row {
    margin: 1rem;
    padding: 0;
    padding-bottom: 1.5rem;
  }
  
  /* Cards */
  
  .card-img-top {
    border-radius: 0;
  }
  
  .card {
    border-radius: 0;
  }
  
  .card-top {
    margin-bottom: 1.5rem;
  }
  
  /* Buttons */
  
  .btn {
    border-radius: 0;
  }
  
  .btn:hover {
    box-shadow: 0px 0px 1px 1px gray;
  }
  
  /* Links */
  
  a {
    color: #4F6367;
  }
  
  a:hover {
    color: black;
  }
  
  /* Icon images */
  
  .focus-img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
  }
  
  /* Responsive Behaviors */
  
  /* settings for <= 922px */
  
  @media (max-width: 992px) {
    .container {
      max-width: 100%;
    }
    .w-100 {
      display: none;
    }
    .md-pd-0 {
      padding: 0;
    }
    .card {
      margin-bottom: 0rem;
    }
    .display-3 {
      font-size: 3.5rem;
    }
    .large-icons {
      display: none;
    }
    nav {
      display: none;
    }
    .lead {
      display: none;
    }
  }
  
  /* <=768 */
  @media (max-width: 768px) {
    .jumbotron {
      padding: 0;
    }
    .display-3 {
      font-size: 2.5rem;
    }
    #focus {
      margin-top: 1rem;
      padding-top: 1rem;
    }
    nav {
      display: none;
    }
  }
  
  /* >=992 */
  @media (min-width: 992px) {
    .nav-info {
      display: none;
    }
    .small-icons {
      display: none;
    }
  }
  
  /* >=768 */
  @media (min-width: 768px) {
    #about-me {
      margin-right: 1rem;
    }
  }
  
  /* <=576 px */
  @media (max-width: 576px) {
    .display-3 {
      font-size: 2rem;
      white-space: nowrap;
    }
  }

